.badge-image {
  max-width: 400px;
  max-height: 250px;
  display: block;
  margin: auto;
}

.center-block {
  display: block;
  margin: auto;
}

.wrapper {
  padding: 1em;
  border: 1px solid var(--box-shadow-gray);
}