.search-page {
  display: flex;
  padding: 0;
  min-width: 100%;
}

.search-filters-column {
  flex: 50%;
  background-color: var(--gradient-blue-2);
  border-right: 2px solid var(--main-color-blue);
  text-align: center;
  padding: 1em;
}

.search-filters-column-hidden {
  background-color: var(--gradient-blue-2);
  border-right: 2px solid var(--main-color-blue);
  border-left: none;
}

@media screen and (min-width: 800px) {
  .search-filters-column {
    flex: 20%;
  }
}

.search-data-column {
  flex: 80%;
  padding: 1em;
}

.search-results {
  margin-top: 1em;
}

.no-results {
  font-style: italic;
  text-align: center;
}