.search-page {
  display: flex;
  height:100%;
  min-height: 100%;
}

.search-filters-column {
  flex: 20%;
  background-color: rgba(101,88,245, 0.2);
  border-right: 2px solid rgb(101,88,245);
  text-align: center;
}

.search-data-column {
  flex: 80%;
  padding: 1em;
}

.search-results {
  margin-top: 1em;
}

.no-results {
  font-style: italic;
  text-align: center;
}