.request {
  padding: 0 1em 1em;
  border: 1px solid #dfe7ed;
  border-radius: 5px;
  position: relative;
}

.request > span {
  padding: 3px 0;
}

.request-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.request-contact-info {
  display: flex;
  flex-direction: column;
}

.request-date {
  font-style: italic;
}

.request-data-header {
  margin: 1em 0 0.5em;
}

.request-response-btn {
  margin: 2em 0;
}

@media screen and (min-width: 480px) {
  .request-response-btn {
    position: absolute;
    bottom: 1em;
    right: 1em;
    margin: 0;
  }
}

.accept-request-btn {
  background-color: #d9ead3;
}

.deny-request-btn {
  background-color: #FFCCCC;
}