.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

input {
  width: 40%;
  height: 2em;
  border-radius: 5px;
  border: 0;
  margin: 0.5em;
}

button {
  height: 3em;
  border-radius: 5px;
  border: 0;
  margin: 0.5em;
  padding: 1em;
}

button.primary {
  background: #6558f5;
  color: #fff;
}


button.link {
  background: none;
  text-decoration: underline;
  color: #6558f5;
}