.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-white);
  border-top: 2px solid var(--main-color-blue)
}

.footer-content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--disabled-background);
}

@media screen and (min-width: 480px) {
  .footer-content {
    flex-direction: row;
  }
}

.copywrite {
  border: none;
  padding: 1em;
}

.copywrite > span {
  font-size: 0.75em;
}

.menu {
  display: flex;
  padding: 1em 0;
}

.menu > a {
  padding: 0 1em;
  text-decoration: none;
  color: var(--font-black)
}

@media screen and (min-width: 480px) {
  .menu {
    padding: 0;
  }
}